<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hongcheng.fruitmall.ucenter.dao.mapper.UserAddressEntityMapper">
    <sql id="Base_column_List">
        id,userId,userTelPhone,userAddress,postCode
    </sql>
    <update id="update">
        update user_address
        <set>
            userTelPhone=#{address.userTelPhone},
            userAddress=#{address.userAddress},
            postCode=#{address.postCode}
        </set>
        where userId=#{uid,jdbcType=INTEGER}
    </update>
    <select id="selectByUserId" resultType="com.hongcheng.fruitmall.ucenter.pojo.entity.UserAddressEntity">
        SELECT
        <include refid="Base_column_List"/>
        FROM user_address
        <where>
            userId=#{userId}
        </where>
        limit 1
    </select>
    <insert id="insert">
        insert into user_address
        (userId,userTelPhone,userAddress,postCode)
        values
        (#{userId},#{userTelPhone},#{userAddress},#{postCode})
    </insert>
</mapper>